<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/bujji.css' %}">
	<script src="{% static 'js/baby.js'%}"></script>


</head>
<body>
<h1>i love you bujji</h1>
<nav class=" nav navbar-default navbar-left">
	<div class="container">
		<div class="navbar-header">
		<img src="{% static 'images/download.jpg' %}">
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#">home</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li ><a href="#">signup</a></li>
			<li ><a href="#">login</a></li>
			<li ><a href="#">register</a></li>
			<li ><a href="#">about</a></li>
		</ul>
	</div>

</nav>

</body>

</html>